body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
    font-size: 11px;
    color: white;
    background-color: dimgray;
}

p {
  font-size: 14px;
}
.home {
  background-image: url("/Users/xiangyuzhang/Desktop/projects/Broadway_design/resources/images/the-flatiron-building.png");
  color: white;

}

.home a {
  font-size: 18px;
  color: white;
}

#work-title {
  font-size: 23px;
  font-weight: bold;
  color:white;
  background-image: url("/Users/xiangyuzhang/Desktop/projects/Broadway_design/resources/images/the-flatiron-building.png");
}

.tail {
  text-align: left;
}

.tail nav {
  display: inline;
}
